{% extends 'base.html.twig' %}

{% block title %}Hobby Games | Avis
	{{ game.name }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="/asset/css/avis.css" rel="stylesheet"/>
{% endblock %}

{% block body %}

	<div class="container my-5">
		<div class="glass p-sm-5 p-3">
			<a class="btn btn-primary px-4 mb-3" href="{{app.request.headers.get('referer')}}">
				<i class="fa-solid fa-arrow-left pe-3"></i>
				Retour
			</a>

			<div class="page-title text-center">
				{{ game.name }}
			</div>

			{# Section laisser un avis #}
			<div class="row d-flex justify-content-center">
				<div class="col-md-9 col-12">
					<div class="section-title">
						Laisser votre avis
					</div>

					{# ne surtout pas oublier d'enlever le NOT #}
					{% if not is_granted('IS_AUTHENTICATED_FULLY') %}

						{# display form for review #}
						{{ form_start(formReview) }}
						<div class="form-inputs">
							<div class="form-group">
								<div class="form-label">
									Votre Note :
								</div>
								<div class="form-rate">
									{{ form_widget(formReview.rate) }}
									<span class="form-rate-max-value">/5</span>
								</div>
							</div>
							<div class="form-group">
								<div class="form-label">
									Titre de l'avis :
								</div>
								{{ form_widget(formReview.title) }}
							</div>
							<div class="form-group">
								<div class="form-label">
									Contenu de l'avis :
								</div>
								{{ form_widget(formReview.content, {'attr':{'rows':10}}) }}
							</div>

							<p class="cgu-message">
								Nous vous rappellons que votre avis doit respecter les <a href="">conditions générales</a> d'utilisation.
							</p>

						</div>

						<div class="d-flex justify-content-center mt-4">
							{{ form_row(formReview.submit, {'label':'Publier mon avis', 'attr':{'class':'btn btn-primary'}}) }}
						</div>
						{{ form_end(formReview) }}

					{% else %}
						{# display alert for connexion #}
						<div class="alert alert-warning" role="alert">
							Vous devez être connecté pour laisser un avis.
							<a href="{{ path('app_login') }}">Se connecter</a>
							ou
							<a href="{{ path('app_register') }}">s'inscrire</a>.
						</div>
					{% endif %}

				</div>
			</div>
		</div>
	</div>
{% endblock %}
