{% extends 'base.html.twig' %}

{% block title %}
	HobbyGames | Administration utilisateurs
{% endblock %}

{% block body %}
	<link href="/asset/css/admin/utilisateurs.css" rel="stylesheet"/>
	<div class="container my-5">
		<div class="container">
			<div class="glass">
				<div class="return-before-page">
					<a class="return-before-link" href="{{ path('app_admin_utilisateurs') }}">
						<i class="fa-solid fa-newspaper"></i>Utilisateurs</a>
					<label class="return-slash">/</label>
					<label class="return-before">Utilisateur n°
						{{ user.getId }}</label>
				</div>
				<div class="col-md-12">
					<div class="box-top-admin">
						<h1 class="title-admin">Utilisateur n°
							{{ user.getId }}</h1>
					</div>
					{# afficher toutes les infos de l'utilisateur #}
					<div class="data-info">

						<img class="data-picture" src="{{ user.getAvatar }}" alt="photo de profil">
					</img>

					<div class="data-element">
						<label class="data-label">Nom :
						</label>
						<label class="data-value">{{ user.getSurname }}</label>
					</div>
					<div class="data-element">
						<label class="data-label">Prénom :
						</label>
						<label class="data-value">{{ user.getFirstName }}</label>
					</div>
					<div class="data-element">
						<label class="data-label">Pseudo :
						</label>
						<label class="data-value">{{ user.getPseudo }}</label>
					</div>
					<div class="data-element">
						<label class="data-label">Date de naissance :
						</label>
						<label class="data-value">{{ user.getDateOfBirth|date("m/d/Y") }}</label>
					</div>
					<div class="data-element">
						<label class="data-label">Email :
						</label>
						<label class="data-value">{{ user.getEmail }}</label>
					</div>
					<div class="data-element">
						<label class="data-label">Adresse mail verifié ? :
						</label>
						<label class="data-value">{{ user.IsVerified ? 'OUI' : 'NON' }}</label>
					</div>
					<div class="data-element">
						<label class="data-label">Date de création du compte :
						</label>
						<label class="data-value">{{ user.getAccountCreationDate|date("m/d/Y") }}</label>
					</div>
					<div class="data-element">
						<label class="data-label">Rôles :
						</label>
						<label class="data-value">{{ user.getRoles|join(' | ') }}</label>
					</div>

					<div class="data-actions">
						<a class="btn btn-primary" href="{{ path('app_admin_utilisateurs_edit', {'id': user.getId}) }}">
							<i class="fa-solid fa-pencil"></i>Modifier</a>
						<a class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')" href="{{ path('app_admin_utilisateurs_delete', {'id': user.getId}) }}">
							<i class="fa-solid fa-trash"></i>Supprimer</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
