{% extends 'base.html.twig' %}

{% block title %}
  DashBoard | Interface d'administration
{% endblock %}

{% block body %}
  <link href="/asset/css/administrateur/dashboard.css" rel="stylesheet" />
  <div class="container my-5">
    <div class="container">
      <div class="glass">
        <div class="animation-div">
          <h1 class="title-dashboard">dashBoard | interface d'administration</h1>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="contain-menu">
                  {% if is_granted('ROLE_REDACTEUR') %}
                    <a class="link-menu-dashboard" href="{{ path('app_administrateur_articles') }}"><i class="fa-solid fa-newspaper"></i>Articles</a>
                  {% endif %}
                  {% if is_granted('ROLE_ADMIN') %}
                    <a class="link-menu-dashboard" href="{{ path('app_admin_commentaires') }}"><i class="fa-solid fa-pen-nib"></i>Avis</a>
                    <a class="link-menu-dashboard" href="{{ path('app_admin_jeux') }}"><i class="fa-sharp fa-solid fa-gamepad"></i>Jeux</a>
                    <a class="link-menu-dashboard" href="{{ path('app_admin_plateformes') }}"><i class="fa-solid fa-computer"></i>Plateformes</a>
                    <a class="link-menu-dashboard" href="{{ path('app_admin_editeurs') }}"><i class="fa-solid fa-terminal"></i>Editeurs</a>
                    <a class="link-menu-dashboard" href="{{ path('app_admin_utilisateurs') }}"><i class="fa-solid fa-user-plus"></i>Utilisateurs</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
