{% extends 'base.html.twig' %}

{% block title %}
  DashBoard | Face caché de l'iceBerg
{% endblock %}

{% block body %}
  <link href="/asset/css/administrateur/dashboard.css" rel="stylesheet" />
  <div class="container my-5">
    <div class="container">
      <div class="glass">
        <div class="animation-div">
          <h1 class="title-dashboard">dashBoard | face caché de l'iceBerg<i class="fa-solid fa-icicles"></i></h1>
          {# si l'utilisateur a le role admin #}
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="contain-menu">
                  {% if is_granted('ROLE_REDACTEUR') %}
                    <a class="link-menu-dashboard" href="{{ path('app_administrateur_articles') }}"><i class="fa-solid fa-newspaper"></i>administrateur articles</a>
                  {% endif %}
                  <a class="link-menu-dashboard" href="{{ path('app_administrateur_articles') }}"><i class="fa-sharp fa-solid fa-gamepad"></i>administrateur jeux</a>
                  <a class="link-menu-dashboard" href="{{ path('app_administrateur_articles') }}"><i class="fa-solid fa-computer"></i>administrateur plateforme</a>
                  <a class="link-menu-dashboard" href="{{ path('app_administrateur_articles') }}"><i class="fa-solid fa-copyright"></i>administrateur marque</a>
                  <a class="link-menu-dashboard" href="{{ path('app_administrateur_articles') }}"><i class="fa-solid fa-terminal"></i>administrateur éditeur</a>
                  <a class="link-menu-dashboard" href="{{ path('app_administrateur_utilisateur') }}"><i class="fa-solid fa-user-plus"></i>gestion des utilisateurs</a>
                  <a class="link-menu-dashboard" href="{{ path('app_administrateur_articles') }}"><i class="fa-solid fa-user"></i>mon profil</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
